
@font-face {
    font-weight: 400;
    font-style:  normal;
    font-family: 'Circular-Loom';
  
    src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Book-cd7d2bcec649b1243839a15d5eb8f0a3.woff2') format('woff2');
  }
  
  @font-face {
    font-weight: 500;
    font-style:  normal;
    font-family: 'Circular-Loom';
  
    src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Medium-d74eac43c78bd5852478998ce63dceb3.woff2') format('woff2');
  }
  
  @font-face {
    font-weight: 700;
    font-style:  normal;
    font-family: 'Circular-Loom';
  
    src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Bold-83b8ceaf77f49c7cffa44107561909e4.woff2') format('woff2');
  }
  
  @font-face {
    font-weight: 900;
    font-style:  normal;
    font-family: 'Circular-Loom';
  
    src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Black-bf067ecb8aa777ceb6df7d72226febca.woff2') format('woff2');
  }

  body 
  {
   background: white;
   display: block;
  }
  .page_container 
  {
    background: #eee;
    margin: 30px auto;
    padding: 20px 50px;
    border-radius: 5px;
  }

  .theheader 
  {
    text-align: center;
    font-size: 40px
  }

  .thePara 
  {
    text-algin: center;
    font-size: 20px;
  }

  .pageHeader 
  {
    text-algin: center;
    margin: 15px auto;
    text-align: center;
    width: 90%;
  }

  .img-container 
  {
    content-algin: center;
    margin: 15px auto; 
    background: #fff;
    padding: 15px 20px;
    text-align: center;
  }

  .img-container img
  {
    margin: auto;
    display: block;
    padding: 20px;
  }